{% extends 'homepage/basic.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1 style="color:yellow;">Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
    <div class="nik" style="color:#D0D3D4;">

  {{ form.as_p }}
    </div>
  <input type="submit" value="Change my password">
</form>

{% else %}

<p style="color:white;"> The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}