{% extends 'homepage/basic.html' %}



{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">

<div class="nik" style="color:black;" align="center">

<div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Dont share your password</small></div>
              <div class="btn-wrapper text-center">
                  <span class="btn-inner--text">WELCOME SUPERADMIN</span>
              </div>
            </div>


            <div class="card-body px-lg-5 py-lg-5">

              <form  method="POST">

                {% csrf_token %}
                <h3 style="color:red;">{{invalid}}</h3>
                {{ form.as_p }}

                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
</div>
</div>
        </div>
      </div>



{% endblock %}