{% extends 'homepage/basic.html' %}
    
    {% block content %}
<br>
<div class="pt-10 ">

<div class="col-xl-12 order-xl-1 ">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-secondary border-0">
              <div class="row align-items-center">
                <div class="col-12" style="text-align: center;">
                  <h1 class="mb-0">Application Form  of <u>{{current_scholarship.title}}</u></h1>
                </div>
                
              </div>
            </div>

             <div class="card-body">
               <div class ="form-group">
              {% if messages %}
              <ul class="messages">
                {% for i in messages %}
                <li style="list-style-type: none;" class="{{ i.tags }}">
                  <div class="alert {{ i.tags }} alert-dismissible fade show" role="alert">
                    {{i}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
              <form action="{% url 'submit_application_form' current_scholarship.id user.id  %}" method="POST">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">REG NO.</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="{{user.username}}" value="{{user.username}}"disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="{{user.email}}" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="{{user.first_name}}" value="{{user.first_name}}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="{{user.last_name}}" value="{{user.last_name}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Academic information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Last year marks(SGPA)</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="{{user.username}}" value="93.6">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Class</label>
                         {% if user.profile.branch == 1 %}<input type="text" id="input-email" class="form-control form-control-alternative" placeholder="SE COMP B" value="COMP"> {% endif %}
      {% if user.profile.branch == 2 %}<input type="text" id="input-email" class="form-control form-control-alternative" placeholder="" value="IT"> {% endif %}
      {% if user.profile.branch == 3 %}<input type="text" id="input-email" class="form-control form-control-alternative" placeholder="" value="ENTC"> {% endif %}
      {% if user.profile.branch == 4 %}<input type="text" id="input-email" class="form-control form-control-alternative" placeholder="" value="MECH"> {% endif %} 
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Roll No.</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" value="{{ user.profile.roll_no }}"  >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Attendence</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="{{user.last_name}}" value="75%">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Address -->
                  <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Permanent Address</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="{{user.profile.address}}" type="text">
                      </div>
                    </div>
                  </div>
                 
                <hr class="my-4" />
                  <!-- documents-->

                  <h6 class="heading-small text-muted mb-4">Documents</h6>
              <div class="row">
                <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" >Last year marksheet   </label>
                    
                        <div>
                          {% if user.profile.document_last_sem %}
                          <a href="{{user.profile.document_last_sem.url}}"><img class="img-responsive img-rounded" src="{{user.profile.document_last_sem.url}}" alt="Last year marksheet " style="height: 200px; width: 200px;"></a>
                          {% else %}
                            <p class="text-danger">Please upload this document from profile</p>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" >class 12 marksheet </label>
                        <div>
                       {% if user.profile.document12 %}
                           <a href="{{user.profile.document12.url}}"><img class="img-responsive img-rounded" src="{{user.profile.document12.url}}" alt="class 12 marksheet" style="height: 200px; width: 200px;"></a>
                        {% else %}
                            <p class="text-danger">Please upload this document from profile</p>
                        {% endif %}
                      </div>
                      </div>
                    </div>
                <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" >class 10 marksheet</label>
                        <div>
                       {% if user.profile.document10 %}
                           
                          <a href="{{user.profile.document10.url}}"> <img class="img-responsive img-rounded" src="{{user.profile.document10.url}}" alt="class 10 marksheet" style="height: 200px; width: 200px;"></a>
                        {% else %}
                           <p class="text-danger">Please upload this document from profile</p>
                        {% endif %}
                      </div>
                      </div>
                    </div>
                 <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" >Father's Identity card</label>
                        <div>
                       {% if user.profile.father_id %}
                           
                        <a href="{{user.profile.father_id.url}}">  <img class="img-responsive img-rounded" src="{{user.profile.father_id.url}}" alt="Father's Identity card" style="height: 200px; width: 200px;"></a> 
                        {% else %}
                           <p class="text-danger">Please upload this document from profile</p>
                        {% endif %}
                      </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" >Student's Identity/Dependent card</label>
                        <div>
                       {% if user.profile.student_id %}
                           
                          <a href=" {{user.profile.student_id.url}}"> <img class="img-responsive img-rounded" src="{{user.profile.student_id.url}}" alt="Student's Identity/Dependent card" style="height: 200px; width: 200px;"></a>
                        {% else %}
                           <p class="text-danger">Please upload this document from profile</p>
                        {% endif %}
                      </div>
                      </div>
                    </div>
                  <div class="col-lg-12">
                      <div class="form-group">
                    <label for="img">Upload extra 1:</label>
                    <input type="file" id="img" name="extra1" accept="image/*">

                      </div>
                  </div>

                  <div class="col-lg-12">
                      <div class="form-group">
                    <label for="img">Upload extra 2:</label>
                    <input type="file" id="img" name="extra2" accept="image/*">

                      </div>
                  </div>
                  
            </div>

            

                <!-- Description -->
                  <hr class="my-4" />
                
                 <button type="Submit" class="btn btn-primary">Submit</button>

              </form>
            </div>
          </div>
        </div>

    </div>
    
    {% endblock %}