<!DOCTYPE html>
<html>
<head>
	<title>j&k facts </title>
  <meta http-equiv="content-Type" content="text/html"/>
	<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="keywords" content="j&k facts, J&K, J&K tour, jk famous places,j&k famous food, j&k history, article 370, a day in shrinagar, j&k myths, j&k timeline,j&k gallery"/>
  <meta name="description" content="I spent a few days in Srinagar this week, visiting after a couple of years. And now I think,
  showcases myriads of flavorsome dishes that are an indispensable part of the traditional Indian cuisine."/>
  <meta name="robots" content="index,follow"/>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/icon" href="D:\Sublime Text 3\images/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Average Sans' rel='stylesheet'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patrick Hand">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special Elite">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coming Soon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kosugi Maru">




  <!--------script--->


    <!--------script--->

</head>
<body>
  <a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7178223&style=0006&nbdigits=5&type=page&initCount=0" title="Visits Count" Alt="analytics counter"   border="0" >
</a>

<!----CSS-------->
<style>
#myth h1,#famfood h1,#fam h1,#connect h1,#history h1,#gallery h1
{
  font-size: 40px;
  margin-bottom: 20px;
  font-family: Patrick Hand;
}
.nav-item a
{
  font-family: Patrick Hand;
}

.card-body,.flip-card-back
{
  font-family: Coming Soon;
}

  html {
  scroll-behavior: smooth;
}
html,body {
    font-family: 'Average Sans', sans-serif;
    color: #222;
}
.nav-link
{
  font-size: 20px !important;
}
.navbar-nav li
{
  padding-right: 20px;
}
.caurousel-inner img
{
  width: 100;
  height: 100%;
}
.carousel-caption h3
{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 5px;

}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.parallax {
  /* The image used */
  background-image: url('https://media.istockphoto.com/photos/chicken-tikka-masala-spicy-curry-meat-food-picture-id641845788?k=6&m=641845788&s=612x612&w=0&h=wOas9CG25FEolNMSHz2VE8fxpq0AnvdDv2-GmGRpSmM=');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row1
{
  display: inline-flex;
 
list-style-type: none;
}
 .row1 img 
 {
  
  height: 300px;
  width: 400px;
  margin:10px;
 }
 .row ul
 {
  list-style-type: none;
 }
 /*----------------------*/
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: black;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}


.timeline li img
{
  width: 350px;
  height: 250px;
} 

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
 

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.mb-5 a:hover
{
  text-decoration: none;
}

.footer-top
{
  background-color: #111;
  padding:80px 0;
}
.footer-top p,h5,code
{
  color: #999;

}
.footer-top h5:before
{
  content:"| ";
  color: #c65039;
}

.segment a i
{
  font-size: 20px;
  color: #fff;
  padding:10px 12px;
}
.segment a
{
  background: #494848;
  border-radius: 50%;
  width: 40px;
  height:40px;
  display: inline-block;
}
.segment a:hover
{
  background: blue;
}
.social a
{
  font-size: 4.5rem;
  padding:3rem;
}
.h5-mb-0 h2
{
  font-family: Kosugi Maru;
}




</style>
<!------css-->


	<!---NAVIGATION--->
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
		 <div class="container-fluid">
    
      <a class="navbar-brand" href="https://www.facebook.com/jmad.gma"><img src="D:\Sublime Text 3\images\capture.jpg"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#gallery" class="scrollto">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  " href="#fam" class="scrollto">FAMOUS PLACES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#famfood" class="scrollto">FAMOUS FOOD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#myth" class="scrollto">MYTHS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#history" class="scrollto" >HISTORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#connect" class="scrollto">CONNECT</a>
      </li>
      {% if user.is_authenticated %}
      <p>welcome {{user.first_name}}</p>
      <a href="log/logout">logout</a>
      <a href="log/del_user">delete account</a>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="log/user_login" class="scrollto">(USER)LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="log/admin_login" class="scrollto">(ADMIN)LOGIN</a>
      </li>
      {% endif %}
      
    </ul>
  </div>
  </div>
	</nav>
	<!----------image slider---------->
	<div class="container" id="home">
   
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
       <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
         <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="http://static.samacharjagatlive.com/newscdn/resources/uploads/ALL-NEWS/31082017/1504163299.jpg" alt="DAL LAKE" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-2" style="color: black";>LADAKH</h3>
          <h4 style="color: black";>At the heights of 15000m</h4>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://i1.trekearth.com/photos/33857/dsc_1952.jpg" alt="kashmir" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-1" >LEH</h3>
          <h4 ;>must visit</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.holidify.com/images/bgImages/JAMMU-AND-KASHMIR.jpg" alt="kashmir" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-1" >JAI</h3>
          <h4 ;>must visit</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.holidify.com/images/bgImages/AMARNATH.jpg" alt="kashmir" style="width:100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-1" >AMARNATH</h3>
          <h4 ;>must visit</h4>
        </div>
      </div>
    
      <div class="carousel-item">
        <img src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2014/02/kupwara.jpg" alt="New york" style="width:100%;">
      <div class="carousel-caption d-none d-md-block">
          <h3 class="display-2" style="color: black;">BAHDERWAH</h3>
          <h4 style="color: yellow";>mini kashmir</h4>
        </div>
      </div>
    </div>

 
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
  <h2 class="display-4" style="font-family:Special Elite; ">Visit the full website and know everything about J & k.</h2>
  <p class="lead">Jammu and Kashmir tours are your chance to see why the state is associated with heaven. On our guided tours of Srinagar, visit the aesthetically designed Mughal Gardens, and Shankaracharya Temple. Pick accommodation on a houseboat on Dal Lake, and embark on a shikara ride for the perfect honeymoon.
</p>
  <hr class="my-4">
  <p>Popular Jammu and kashmir Holiday Packages.</p>
  <a class="btn btn-primary btn-lg" href="https://www.yatra.com/india-tour-packages/holidays-in-jammu-and-kashmir" role="button">VISIT</a>
</div>
  </div>

  <div class="container padding" id="myth">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="sir" style="margin-top: 60px; color: grey" id="myth">Myths about J&K</h1>
      </div>
      <div class="col-12">
        <p> Everyone there likes Pakistan.<br>Stone pellting  occurs everywhere.<br>Only in the small 15% Muslim majority region of Kashmir valley and not in the Hindu and Buddhist majority 85% area of the rest of the state. <br>There has always been a protest against India in Jammu or kashmir.</p>
        <p><i>The above 3-4 lines are not at all true</i></p>
      </div>
    </div>
  </div>

  <div class="container padding" >
    <div class="row text-center padding">
    <div class=" col-12 col-xs-12 col-md-6 col-lg-6" style="background-color:#D5E355;">
        <h2 style="font-family:Special Elite; ">A day in Srinagar</h2>
        <!--<a href="http://admin.risingkashmir.com/Images/News/eee1babf-68bd-45f3-aac0-a56953fedd99.jpg"><img src="http://admin.risingkashmir.com/Images/News/eee1babf-68bd-45f3-aac0-a56953fedd99.jpg" style="width:350px;height: 300px;"> </a>-->
        <iframe width="350" height="300" src="  https://www.youtube.com/embed/xLVNLuZI6Ns">
</iframe>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">I spent a few days in Srinagar this week, visiting after a couple of years. And now I think it is important to let readers know about the disturbing things happening in Jammu and Kashmir. It is always strange to visit the state because when you are away, you can get carried away by whatever narrative our news channels spin, but the reality of Kashmir and its people hits you in the face when you are actually there.</li>
          <li class="list-group-item">There are 403 news channels in India but none in Kashmir. The government doesn't allow any local television news due to the fear that it can cause trouble.</li>
<li class="list-group-item"><a href="http://www.singgepalace.com/kashmir-tour-packages/img/srinagar-sonmarg-tour.jpg"><img src="http://www.singgepalace.com/kashmir-tour-packages/img/srinagar-sonmarg-tour.jpg" style="width: 350px;height: 250px;"></a>
</li>
          <li class="list-group-item">There are no multiplexes, not one single-cinema hall and no malls.</li>
          <li class="list-group-item">Moreover, as the government frequently cuts mobile internet services in the region, there is no app-based economy in the city either. No Uber, or Ola, or the other services that people have become accustomed to in cities for years.</li>
          <li class="list-group-item">The number of security personnel dying in Kashmir has risen in the past five years — from 41 in 2015 to 88 in 2016, 83 in 2017 and 95 in 2018. We are not even halfway through 2019 but have already lost 67 soldiers.
</li>

        </ul>
    </div>
    <div class=" col-12 col-xs-12 col-md-6 col-lg-6" style="background-color:#45CBC7;">
        <h2 style="font-family:Special Elite; ">ARTICLE 370</h2>
        <!--<a href="https://www.newsclick.in/Some-Myths-About-Article-370-35A-Kashmir"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1AcPPDLNQXdAPPsAg9TYLwLMemjmRp1v3Vicgpbgj0UAl79Zg7A" style="width:350px;height: 300px;"></a>-->
        <iframe width="350" height="300" src="  https://www.youtube.com/embed/mBKcfJAqI1Y">
</iframe>

        <ul class="list-group list-group-flush" style="background-color: yellow;">
          <li class="list-group-item"> Arun Jaitley tweeted: “"The decision of the government will help the people of J&K the most. More investment, more industry, more private educational institutions, more jobs and more revenue." Many of the MPs who spoke in the Rajya Sabha and Lok Sabha waxed eloquent on the so-called benefits that would accrue with the removal of special status, including J&K will now become part of Global India”,</li>
          <li class="list-group-item">The truth is that no government at the Centre – whether Congress or BJP/NDA – seriously undertook a complete package which included both economic and political measures that would provide sustainable and long-term benefits to J&K.</li>
          <li class="list-group-item"><a href="http://lbimg.in.com/LiveBlog/img/2019/08/cbbf4a9bb5f3849930ddd8c2d709cd72.jpg"><img src="http://lbimg.in.com/LiveBlog/img/2019/08/cbbf4a9bb5f3849930ddd8c2d709cd72.jpg" style="width: 350px;height: 300px;"></a></li>
          <li class="list-group-item">Myth: You cannot purchase land only in J&K<br>
              Fact: There are several other states where, despite being an Indian citizen, one cannot purchase lands such as Himachal Pradesh, Arunachal Pradesh, and Nagaland. Due to the social and territorial situation in this state, a non-resident of these states cannot purchase land here.</li>
          <li class="list-group-item">The article 35A clearly said that if a Kashmiri woman marries to a non-Kashmir domicile, her husband won’t get any right in the State.</li>
        </ul>
       </div> 
    </div>
  </div>
<!-----famous places------------------------->
<div class="container padding " style="margin-top: 60px;" id="fam">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="sir" style="margin-top: 60px; color: grey" > FAMOUS PLACES </h1>
      </div>
      <div class="col-12">
        <p> This northern-most state(now a UT) of India has been endowed with nature’s best and that is why it has been an object of interest for many travel enthusiasts.</p>
      </div>
    </div>
  </div>

<br class="my-4">
<div class="container padding bg-light">

<div class="row text-center padding">
  
<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Kashmir"><img src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2014/02/kupwara.jpg" class="card-img-top" alt="kashmir"></a>
    <div class="card-body">
      <h5 class="card-title">KASHMIR</h5>
      <p class="card-text">Due to the various picturesque places to visit in Kashmir, it is often referred as India’s Switzerland, as the place is blessed with the most scenic views which are worth a visit.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Leh"><img src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2014/02/leh.jpg" class="card-img-top" alt="LEH"></a>
    <div class="card-body">
      <h5 class="card-title">LEH</h5>
      <p class="card-text">The lofty mountains, the alpine lakes, divine Gompas and the quaint settings make Leh one of the best places to visit in Jammu & Kashmir. Located 434 kms from Srinagar, it majorly intrigues adventure enthusiasts and people with artistic bent of mind. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Srinagar"><img src="https://www.holidify.com/images/tooltipImages/SRINAGAR.jpg" class="card-img-top" alt="Srinagar"></a>
    <div class="card-body">
      <h5 class="card-title">SHRINAGAR</h5>
      <p class="card-text">Lying on the banks of River Jhelum with deep and mesmerizing valleys cascaded in sky scraping mountains and evergreen beauty, Srinagar symbolizes nature, beauty, harmony and romance.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Jammu"><img src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2014/02/jammu-city.jpg" class="card-img-top" alt="JAMMU"></a>
    <div class="card-body">
      <h5 class="card-title">JAMMU</h5>
      <p class="card-text">Be it the multi-hued flags representing the temples and shrines in the city, the tantalizing aromas that lift and diffuse from its spectacular cuisine or even the snow capped mountains that promise adventure and action, this 'City of Temples' has something to offer to everyone.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Bhaderwah"><img src="https://www.holidify.com/images/tooltipImages/BHADERWAH.jpg" class="card-img-top" alt="BHADERWAH"></a>
    <div class="card-body">
      <h5 class="card-title">BHADERWAH</h5>
      <p class="card-text">Bhaderwah is a town located in the district of Doda in Jammu and Kashmir. It belongs to the Jammu division of the state. Located in the foothills of the Himalayas, it has been given the status of sub-district.


</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Ladakh"><img src="https://www.holidify.com/images/tooltipImages/LADAKH.jpg" class="card-img-top" alt="LADAKH"></a>
    <div class="card-body">
      <h5 class="card-title">LADAKH</h5>
      <p class="card-text">Lying in midst of the Himalayan and Karakoram ranges with superabundance of attractions to visit and phantasmagoric and fabulous landscapes, Ladakh is truly a heaven on Earth.


</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Gulmarg"><img src="https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2014/02/gulmarg.jpg" class="card-img-top" alt="gulmarg"></a>
    <div class="card-body">
      <h5 class="card-title">GULMARG</h5>
      <p class="card-text">Situated at an altitude of 2730 m above sea level, Gulmarg is surrounded by snow covered mountains, lush green meadows, deep ravines, evergreen forested hills and valleys.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Patnitop"><img src="https://www.holidify.com/images/tooltipImages/PATNITOP.jpg" class="card-img-top" alt="PATNITOP"></a>
    <div class="card-body">
      <h5 class="card-title">PATNITOP</h5>
      <p class="card-text">With endless meadows lined with towering pine trees and panoramic views of the snow capped peaks of the Himalayas, Patnitop is a perfect place to experience nature at its best.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://www.maavaishnodevi.org"><img src="https://www.holidify.com/images/tooltipImages/VAISHNO-DEVI.jpg" class="card-img-top" alt="jai mata di"></a>
    <div class="card-body">
      <h5 class="card-title">VAISHNO DEVI</h5>
      <p class="card-text">The shrine of Vaishno Devi, one of the most important places of worship in India calls the little town of Katra its home. Located in the <b>Udhampur</b> district of Jammu and Kashmir, Katra is mostly visited by devotees of Lord Shiva. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Samba,_Jammu_and_Kashmir"><img src="https://cdn.s3waas.gov.in/s3a97da629b098b75c294dffdc3e463904/uploads/bfi_thumb/2018121285-o0egsk4ifsgf1mypd0ouwn8muyl45ovfp8vr4n6hsa.jpg" class="card-img-top" alt="CHICHI MATA"></a>
    <div class="card-body">
      <h5 class="card-title">SAMBA</h5>
      <p class="card-text">Samba is a city and Municipal Committee in Samba district in the Indian administered state Jammu and Kashmir. Before the formation of Samba district, this town was part of Jammu district. The main industrial area of Bari Brahmana which earlier used to fall under Jammu district has now been included in Samba district.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Kargil"><img src="https://img.traveltriangle.com/blog/wp-content/tr:w-700,h-400/uploads/2015/05/Kargil1.jpg" class="card-img-top" alt="kargil"></a>
    <div class="card-body">
      <h5 class="card-title">KARGIL</h5>
      <p class="card-text">Kargil is a small town in the Kargil district of Ladakh region, which brings shivers down the spine of the Indian Citizens. This part of the Ladakh is a must visit for every first time traveler for capturing the undaunted beauty of the place. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <div class="card">
    <a href="https://en.wikipedia.org/wiki/Pahalgam"><img src="https://img.traveltriangle.com/blog/wp-content/tr:w-700,h-400/uploads/2015/05/pahalgam-head-188.jpg" class="card-img-top" alt="Pahalgam"></a>
    <div class="card-body">
      <h5 class="card-title">Pahalgam</h5>
      <p class="card-text">Pahalgam is considered as an illustration of the heaven on earth which is situated at an altitude of 2740 m. Situated at distance of 95 Kms from Srinagar and surrounded by dense forests, beautiful lakes and meadows of flowers. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  </div>
</div>
</div>





<div class="container padding text-center" style="margin-top: 60px;" >
  
    <div class="row welcome ">
      <div class="col-12">
        <span class="sir" style="margin-top: 60px; color: grey" id="famfood"> <h1>FAMOUS FOOD </h1></span>
      </div>
      <div class="col-12">
        <p> Jammu and Kashmir or J&K, like other states now a union territory of India, showcases myriads of flavorsome dishes that are an indispensable part of the traditional Indian cuisine. While the authentic dishes of Jammu (a part of J&K) have some enticing rice and vegetable based items, Kashmir Valley (also a part of J&K) offers Wazwan, a conventional multicourse, mostly based on meat preparations.</p>
        <p>Jammu and Kashmir, has always been known for its quaint and scenic beauty, but it’s various types of foods deserve equal attention as well. Hopefully, after reading the article you will gear up to taste them as they perfectly represent the food culture of the union teritory</p>
      
      </div>
    </div>
  </div>  
<div class="container padding text-center">
  <div class="parallax">
    <div class="row padding text-center ">
      <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://flavorverse.com/wp-content/uploads/2017/05/Kachaloo-Chaat-Traditional-Jammu-and-Kashmir-Food-768x461.jpg" alt="kachallo-chat" style="width:300px;height:250px;">
            <a href="https://www.sanjeevkapoor.com/recipe/Dilli-Aloo-Kachalu-Chaat.html"><h4>Kachaloo Chaat </h4> </a>

    </div>
    <div class="flip-card-back">
      <a href="https://www.sanjeevkapoor.com/recipe/Dilli-Aloo-Kachalu-Chaat.html"><h1>Kachaloo Chaat </h1> </a>
      <p>Spiced up taro roots, when prepared with potatoes or aloo, called aloo kachaloo chaat.</p> 
      <p> This sumptuous snack offers a combined taste of lemon, red chili flakes, black-eyed beans, and tamarind in the best way possible. Tangy and spicy to its core, this is a must for you.</p>
    </div>
  </div>
</div>
          
      </div>
      <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://flavorverse.com/wp-content/uploads/2017/05/Kaladi-Kulcha-Popular-Jammu-and-Kashmir-Food-768x460.jpg" alt="Avatar" style="width:300px;height:250px;">
            <a href="http://blessmyfoodbypayal.com/kaladi-kulcha/"><h4>Kaladi Kulcha </h4> </a>

    </div>
    <div class="flip-card-back">
      <a href="http://blessmyfoodbypayal.com/kaladi-kulcha/"><h1>Kaladi Kulcha </h1> </a>
      <p>Mozzarella like cheese with kulchas or bread and garnished with cooked vegetables. This dish owes it origin to Udhampur of Jammu.</p> 
      <p>The spongy blob creates a heavenly taste when associated with condiments or chutney, like chili or garlic chutney</p>
    </div>
  </div>
</div>    
      </div>

      <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://flavorverse.com/wp-content/uploads/2017/05/Rajma-Chawal-Jammu-and-Kashmir-Staple-Food-768x544.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="https://www.cookingandme.com/2012/06/11/rajma-masala-rajma-chawal-recipe/"><h4>Rajma Chawal </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="https://www.cookingandme.com/2012/06/11/rajma-masala-rajma-chawal-recipe/"><h1>Rajma Chawal </h1> </a>
      <p>Red kidney beans or rajma curry served with rice. The sweetness of kidney beans are exclusive to Jammu, hence the dish is quite a popular one.</p> 
      <p>Spices like chili and turmeric powder along with onions and tomatoes make this main dish a delectable one. The mild aroma that it imparts is a result of using fresh coriander leaves.</p>
    </div>
  </div>
</div>    
      </div>

       <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://flavorverse.com/wp-content/uploads/2017/05/Khatta-Meat-Jammu-and-Kashmir-Dogri-Food.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="https://food.ndtv.com/recipe-khatta-meat-351842"><h4>Khatta Meat </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="https://food.ndtv.com/recipe-khatta-meat-351842"><h1>Khatta Meat </h1> </a>
      <p>A mutton preparation defined by its gravy or curry. This preparation is an upshot of the Dogra dynasty that had substantial supremacy over the state.</p> 
      <p>As the name suggests, khatta means sour, and it is sour but in a delicious way. The tangy flavor is achieved either by anardana (pomegranate seeds) or amchur (dry mango) powder.</p>
    </div>
  </div>
</div>    
      </div>


       <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="http://flavorverse.com/wp-content/uploads/2017/05/Patisa-Famous-Jammu-and-Kashmir-Food-640x522.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="https://food.ndtv.com/recipe-khatta-meat-351842"><h4> Patisa </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="https://food.ndtv.com/recipe-khatta-meat-351842"><h1> Patisa </h1> </a>
      <p>Alternatively known as “son papri” or “sohan papdi”, these little cubes are prepared from a mixture of gram and maida flour together.</p> 
      <p>The soft yet smooth texture satisfies your sweet teeth as milk and syrup do their part.</p>
    </div>
  </div>
</div>    
      </div>
      <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://flavorverse.com/wp-content/uploads/2017/05/Dum-Aloo-Jammu-and-Kashmir-Veg-Food.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="https://food.ndtv.com/recipe-khatta-meat-351842"><h4>Dum Aloo </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="https://www.vegrecipesofindia.com/kashmiri-dum-aloo/"><h1>Dum Aloo </h1> </a>
      <p>Aloo or potatoes cooked with spices. Since this dish was originally consumed by Kashmiri Pandits, it was initially prepared without garlic and onions.</p> 
      <p>The yogurt based gravy has a rich yet subtle taste of spices like garam masala, cumin, fennel seeds, cardamom and other spices. Hot parathas go well with this preparation.</p>
    </div>
  </div>
</div>    
      </div>
       <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://flavorverse.com/wp-content/uploads/2017/05/Seekh-Kebab-Authentic-Jammu-and-Kashmir-Food-768x576.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="http://food.ndtv.com/recipe-seekh-kebab-218097"><h4>Seekh Kebab </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="http://food.ndtv.com/recipe-seekh-kebab-218097"><h1>Seekh Kebab </h1> </a>
      <p>Well grilled kebabs having lamb meat as the primary ingredient..</p> 
      <p> Like any other kebab, these are simply heaven for foodies. Cumin seeds, coriander, and other spices make it a tasty preparation.</p>
    </div>
  </div>
</div>    
      </div>
      <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://i.pinimg.com/736x/47/8f/61/478f61de382383ad4914197c6d9cd592--lotus-ki.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="http://secretindianrecipe.com/recipe/kashmiri-nadru-yakhni-lotus-stems-cooked-yogurt-sauce"><h4>Nadru Yakhni </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="http://secretindianrecipe.com/recipe/kashmiri-nadru-yakhni-lotus-stems-cooked-yogurt-sauce"><h1>A Kashmiri pandit food </h1> </a>
      <p> Lotus roots floating in yogurt sauce.</p> 
      <p> The sweetness is well balanced with spices like cumin seeds, black and green cardamoms.</p>
    </div>
  </div>
</div>    
      </div>
      <div class="col-12 col-xs-12 col-md-6 col-lg-4">
          <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://www.holidify.com/blog/wp-content/uploads/2014/06/Rogan-Josh.jpg" alt="Avatar" style="width:300px;height:250px;">
      <a href="https://www.cookingchanneltv.com/recipes/anjum-anand/kashmiri-rogan-josh-2040418"><h4> Rogan Josh </h4> </a>
    </div>
    <div class="flip-card-back">
      <a href="https://www.cookingchanneltv.com/recipes/anjum-anand/kashmiri-rogan-josh-2040418"><h1> Rogan Josh </h1> </a>
      <p>A must try dish for all the Lamb or meat lovers, Rogan Josh, an aromatic lamb dish is one of the signature recipes of Kashmiri cuisine.</p> 
      <p>Robust with flavours of browned onions, various spices and yoghurt, it is a very healthy low-fat dish. Try it with rice or naan and you will yearn for more.</p>
    </div>
  </div>
</div>    
      </div>

      </div>
    </div>
  </div>

 
<!-- gallery -->
<hr class="my-4">
<div class="container padding text-center bg-light" style="margin-top: 60px;" id="gallery">
       
        <h1 class="sir"style="margin-top: 60px; color: grey" id="famfood"> GALLERY </h1>
          <p><strong>Check our gallery telling something to you</strong></p>
          <p>The first thing one notices is how there is very little visual sign of change or economic progress in Srinagar</p>
          <p>The presence of paramilitary forces on the streets of Srinagar has become depressingly normal</p>
          <p>The reality is that this government has no idea what to do in Kashmir and is trying to rule over the population through force</p>
        <marquee direction="right">

<div class="container padding bg-light">
  <ul class="row1">
    <li>
     <a href="http://im.rediff.com/news/2015/apr/10kashmir-protest1.jpg"> <img src="http://im.rediff.com/news/2015/apr/10kashmir-protest1.jpg"></a>
    </li>
    <li>
      <a href="https://m.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/10/28/Pictures/allegedly-residential-abdullian-personnel-unprovoked-hindustan-security_857270f8-9cec-11e6-a472-803c9c62b420.jpg"><img src="https://m.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/10/28/Pictures/allegedly-residential-abdullian-personnel-unprovoked-hindustan-security_857270f8-9cec-11e6-a472-803c9c62b420.jpg"></a>
    </li>
    <li>
      <a href="https://data1.ibtimes.co.in/en/full/690822/president-kovind-approves-imposition-governors-rule-jk.jpg?w=785&h=442&l=50&t=40"><img src="https://data1.ibtimes.co.in/en/full/690822/president-kovind-approves-imposition-governors-rule-jk.jpg?w=785&h=442&l=50&t=40"></a>
    </li>
    <li>
      <a href="https://www.boomlive.in/wp-content/uploads/2017/04/JK-2.jpg"><img src="https://www.boomlive.in/wp-content/uploads/2017/04/JK-2.jpg"></a>
    </li>
    <li>
      <a href="http://d2r2ijn7njrktv.cloudfront.net/IL/uploads/2017/04/Picture-19.jpg"><img src="http://d2r2ijn7njrktv.cloudfront.net/IL/uploads/2017/04/Picture-19.jpg"></a>
    </li>
    <li>
      <a href="https://images.assettype.com/thequint%2F2019-08%2F881e3c91-fbe8-48bb-b83f-33228b221bf0%2Fmap2.jpg?auto=format&q=60&w=1200&h=675"><img src="https://images.assettype.com/thequint%2F2019-08%2F881e3c91-fbe8-48bb-b83f-33228b221bf0%2Fmap2.jpg?auto=format&q=60&w=1200&h=675"></a>
    </li>
    <li>
      <a href="https://cdn.telanganatoday.com/wp-content/uploads/2017/10/Narendra-Modi.jpg"><img src="https://cdn.telanganatoday.com/wp-content/uploads/2017/10/Narendra-Modi.jpg"></a>
    </li>
  </ul>
</div>
</marquee>
<marquee direction="left">
<div class="container padding bg-light ">
  <ul class="row1">
    <li>
     <a href="https://media.cntraveller.in/wp-content/uploads/2018/09/MoretoKashmir-866x487.jpg"> <img src="https://media.cntraveller.in/wp-content/uploads/2018/09/MoretoKashmir-866x487.jpg"></a>
    </li>
    <li>
      <a href="https://media.cntraveller.in/wp-content/uploads/2018/07/Hunder-Sand-Dunes-768x1154.jpg"><img src="https://media.cntraveller.in/wp-content/uploads/2018/07/Hunder-Sand-Dunes-768x1154.jpg"></a>
    </li>
    <li>
    <a href="https://kashmirbox.files.wordpress.com/2014/07/1-gulmarg.jpg">  <img src="https://kashmirbox.files.wordpress.com/2014/07/1-gulmarg.jpg">
    </li>
    <li>
      <a href="https://i.pinimg.com/originals/72/08/02/720802eda5577b51d22926450eeb7e2b.jpg"><img src="https://i.pinimg.com/originals/72/08/02/720802eda5577b51d22926450eeb7e2b.jpg">   </li>
        <li>
      <a href="https://vaishnodeviyatra.org/images/mobile/padri_bhaderwah.jpg"><img src="https://vaishnodeviyatra.org/images/mobile/padri_bhaderwah.jpg">   </li>
        <li>
      <a href="https://pbs.twimg.com/profile_images/898110393716842496/eZWF66Rk_400x400.jpg"><img src="https://pbs.twimg.com/profile_images/898110393716842496/eZWF66Rk_400x400.jpg">   </li>
        <li>
      <a href="https://c.ndtvimg.com/2019-08/9ujiglro_ladakh-generic_625x300_12_August_19.jpg"><img src="https://c.ndtvimg.com/2019-08/9ujiglro_ladakh-generic_625x300_12_August_19.jpg">   </li>
  </ul>
</div>
</marquee>
</div>


<br class="my-4" >
<br class="my-4">
<br class="my-4">
<br class="my-4">

<!-- Timeline -->
<!-- Timeline -->

<div class="container  text-center bg-light" >

    <span class="sir"style="color: grey;"id="history"><h1>HISTORY OF J&K</h1></span>
    <hr class="my-4">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-8 mx-auto " style="color: black;">
            <p class="lead mb-0"><a href="https://www.youtube.com/results?search_query=history+of+j%26">Get the history of J&K from our youtube videos</a>
            <a href="https://en.wikipedia.org/wiki/Jammu_and_Kashmir"><p class="lead mb-0">Go to Wikipedia to know more about the history of J&K </p></a>
            <a href="https://commons.wikimedia.org/wiki/Atlas_of_Kashmi"><p class="lead">Go through the atlas of J&K ,visit the geography of differnt parts of J&K<a href="https://bootstrapious.com/snippets" class="text-white"></a>
            </div>
        </div><!-- End -->


        <div class="row">
            <div class="col-lg-7 mx-auto">
                
                <!-- Timeline -->
                <ul class="timeline">
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>J&K’s first major political party<mark>1930</mark></strong></h2><br>
                        <a href="http://www.jknc.in/History.aspx"><img class="img-responsive" src="https://im.rediff.com/news/2018/aug/08nehru.jpg"></a>
                        <p class=" mt-2 font-weight-light">Kashmiri Muslims are unhappy with the then maharaja Hari Singh’s rule and feel his policies are prejudiced against them. This is also the time J&K’s first major political party, the National Conference (NC), is born along with its founder, Sheikh Muhammad Abdullah’s, political debut. The Quit Kashmir movement against the maharaja is launched.</p>
                      
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>Pakistan is created as a Muslim-majority country<mark>1947</mark></strong></h2><br>
                        <a href="https://www.thebetterindia.com/130500/untold-story-one-note-nehru-changed-fate-jammu-kas"><img class="img-responsive" src="https://th.thgim.com/opinion/op-ed/39mhed/article28362585.ece/alternates/FREE_435/TH11-SHYAM-KASHMIR2"></a>
                        <p class=" mt-2 font-weight-light">India gains independence from the British empire, Pakistan is created as a Muslim-majority country. Hundreds of Muslim refugees crowd atop a train leaving New Delhi for Pakistan in 1947. The partition of the British colony of India into majority Muslim and Hindu countries was accompanied by deadly religious riots.  Maharaja Hari Singh signs a standstill agreement with Pakistan, effectively opting for status quo.</p>
                        <a href="https://www.hindustantimes.com/static/partition/assets/img/gallery/515302110.jpg"><img src="https://www.hindustantimes.com/static/partition/assets/img/gallery/515302110.jpg"></a>
                        <p class=" mt-2 font-weight-light">
                          Refugees travel on the road near the India-Pakistan border in August 1947. Massive migrations of Hindus and Muslims to their country of choice trigged violence, leaving more than a million people dead.
                        </p>
                      
                    </li>
                     <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>ARTICLE 370 <mark>1950</mark></strong></h2><br>
                        <a href="http://www.jknc.in/History.aspx"><img class="img-responsive" src="https://assetsds.cdnedge.bluemix.net/sites/default/files/styles/very_big_1/public/feature/images/sheikh_abdullah.jpg?itok=tkdw-MmV"></a>
                        <p class=" mt-2 font-weight-light">The Indian constitution comes into force. Under this, Article 1 defines J&K as a state of India, Article 370 accords special status to J&K.
                       The constituent assembly of J&K, the body responsible for creating the state’s constitution, convenes. All members belong to <i>Sheikh Abdullah’s NC</i>.</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>J&K adopts its constitution <mark>1956-1957</mark></strong></h2><br>
                        <a href="https://indiankanoon.org/doc/1326525/"><img class="img-responsive" src="http://www.jagranjosh.com/imported/images/E/Articles/preamble-of%20kashmir-constitution.jpg"></a>
                        <p class=" mt-2 font-weight-light">The J&K holds its first legislative elections. J&K constituent assembly dissolved, replaced by a legislative assembly. Indian home minister Govind Ballabh Pant visits Srinagar, the capital city of J&K, and says the state is now fully a part of India.</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>War between India and Pakistan <mark>August 1965 to January 1966</mark></strong></h2><br>
                        <a href="https://en.wikipedia.org/wiki/Indo-Pakistani_War_of_1965"><img class="img-responsive" src="https://ichef.bbci.co.uk/news/624/cpsprodpb/18486/production/_84726499_da40450photodivdprmod10.jpg"></a>
                        <p class=" mt-2 font-weight-light">On 5 August 1965 between 26,000 and 33,000 Pakistani soldiers crossed the Line of Control dressed as Kashmiri locals headed for various areas within Kashmir. Indian forces, tipped off by the local populace, crossed the cease fire line on 15 August.
                        Despite the declaration of a ceasefire, India was perceived as the victor due to its success in halting the Pakistan-backed insurgency in Kashmir.</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>Armed Forces Special Powers Act <mark>1990</mark></strong></h2><br>
                        <a href="https://www.jagranjosh.com/general-knowledge/what-is-asfpa-and-powers-given-to-armed-forces-1525695112-1"><img class="img-responsive" src="https://images.outlookindia.com/public/uploads/articles/2018/1/20/afspa_630_630.jpg"></a>
                        <p class=" mt-2 font-weight-light">Kashmiri youth take to streets to protest against Indian administration and hundreds of them die in clashes with Indian troops. Central rule declared just as outfits like JKLF gain strength. <i>Kashmiri Pandits</i> (Hindu Brahmins) flee their hometowns in Kashmir valley in the face of rising militancy. The central government imposes the <i> Armed Forces Special Powers Act</i>, giving armed forces unprecedented powers to counter armed militancy.</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>KARGIL WAR <mark>1999</mark></strong></h2><br>
                        <a href="https://en.wikipedia.org/wiki/Kargil_War"><img class="img-responsive" src="https://spiderimg.amarujala.com/assets/images/2019/06/29/750x506/kargil-war_1561814798.jpeg"></a>
                        <p class=" mt-2 font-weight-light">The cause of the war was the infiltration of Pakistani soldiers and Kashmiri militants into positions on the Indian side of the Line of Control.This was the first ground war between the two countries after they had developed nuclear weapons. (India and Pakistan both test-detonated fission devices in May 1998, though the first Indian nuclear test was conducted in 1974.)</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>Afzal Guru Hanged<mark>2013</mark></strong></h2><br>
                        <a href="https://en.wikipedia.org/wiki/Afzal_Guru"><img  
                         class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdNwkVL2FYyxGMGibyJuqEWxqf76LwOCqwrn1M3qAQYwwpOiG3DQ"></a>
                        <p class=" mt-2 font-weight-light"> In 2001,Five terrorists enter Parliament complex and open indiscriminate fire, killing nine people, including security personnel, and injuring 16 others.
                        He received a death sentence for his involvement, which was upheld by the Indian Supreme Court. Following the rejection of a mercy petition by the President of India, he was executed on 9 February 2013. His body was buried within the precincts of Delhi's Tihar Jail.</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong>SURGICAL STRIKE<mark>2016</mark></strong></h2><br>
                        <a href="https://en.wikipedia.org/wiki/Afzal_Guru">
                          <iframe width="400" height="250"
                            src="https://youtube.com/embed/BIKM_hzE2aU">
                          </iframe></a>
                        <p class=" mt-2 font-weight-light"> <mark>March 2015: </mark>The BJP forms a government in J&K with People’s Democratic Party for the first time.<br>

                        <mark><br>April 2016:</mark>
                         Mehbooba Mufti becomes chief minister after the death of Mufti Mohammad Sayeed, her father.<br>

                        Burhan Wani, another young militant, killed in shootout with armed forces. J&K state erupts in massive protests. Curfew imposed for several months.<br>

                        Armed militants attack Indian Army base in Uri, J&K. The army retaliates with surgical strikes across the LoC.</p>
                                            
                    </li>
                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                        <div class="timeline-arrow"></div>
                      
                        <h2 class="h5 mb-0"><strong><mark>2019</mark></strong></h2><br>
                        <a href="https://www.indiatoday.in/india/story/balakot-airstrike-codename-operation-bandar-1553450-2019-06-21"><img class="img-responsive" src="https://www.thehindubusinessline.com/opinion/columns/g-parthasarathy/p6q3pp/article26448778.ece/ALTERNATES/LANDSCAPE_1200/BL07THINK1IAF11"></a>
                        <p class=" mt-2 font-weight-light"><mark>February 2019:</mark> A vehicle loaded with explosives crashes into an Indian paramilitary convoy, killing 40 personnel. India carries out retributive strikes on terror camps across the LoC in Pakistan’s Balakot region. </p>
                        <br>
                        <a href="https://www.firstpost.com/india/abolishing-article-370-mha-outlines-rationale-for-ending-jammu-and-kashmirs-special-status-in-booklet-7112131.html"><img class="img-responsive" src="https://smedia2.intoday.in/btmt/images/stories/article370_union_territories_660_080519015504.jpg"></a>
                        <p><mark>August 5:</mark> Home minister Amit Shah proposes a presidential order to repeal Article 370 and 35A. J&K to be bifurcated as two union territories of Ladakh (centrally administered) and J&K (with its legislative assembly). Opposition parties protest in parliament; complete shutdown in Kashmir valley.</p>
                                            
                    </li>
                    
                </ul><!-- End -->

            </div>
        </div>
    </div>
<!-------connect--->
<div class="container padding " style="margin-top: 60px;" id="connect">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 style="margin-top: 60px; color: grey" > <i>CONNECT</i> </h1>
      </div>
      <div class="col-12 ">
        <p> Feel free to connect with us </p>
      </div>
      <div class="col-12 social">
      <a target="_blank" href="https://www.facebook.com/jmad.gma"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
       <a target="_blank" href="https://twitter.com/KotwalNikhil"><i class="fa fa-twitter"style="font-size:36px"></i></a>
      <a target="_blank" href="https://www.youtube.com/results?search_query=j%26k+fa"><i class="fa fa-youtube"style="font-size:36px;color: red;"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/nikhil-singh-9b3501176/"><i class="fa fa-linkedin"style="font-size:36px"></i></a>
            <a target="_blank" href="https://github.com/KotwalNikhil"><i class="fa fa-github"style="font-size:36px;color: black;"></i></a>
     </div>
    </div>
  </div>
  <br class="my-4">
<br class="my-4">
<!---footer--->
<div class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h5>ADDRESS</h5>
          <p><hr style="background: white;" ></p>
          <p>AIT,Pune</p>
          <p>Dighi Hills</p>
          <p>Pune,411015</p>
                            <hr class="light">

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 segment">
          <h5>CONTACT</h5>
          <p><hr style="background: white;" ></p>
          <code>NIKHIL SINGH KOTWAL</code>
          <p>9682636577</p>
          <p><a style="border-radius: 0;background: none;" target="_blank" href="mailto:nikhilkotwalcoc@gmail.com?subject=subject text">nikhilkotwalcoc@gmail.com</a></p>
          <a target="_blank" href="https://www.facebook.com/jmad.gma"><i class="fa fa-facebook-official" ></i></a>
       <a target="_blank" href="https://twitter.com/KotwalNikhil"><i class="fa fa-twitter"></i></a>
    
      <a target="_blank" href="https://www.linkedin.com/in/nikhil-singh-9b3501176/"><i class="fa fa-linkedin"></i></a>
      <a target="_blank" href="https://github.com/KotwalNikhil"><i class="fa fa-github"></i></a>  
                        <hr class="light">
   
         </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
          <h5>MY PROJECTS</h5>
          <p><hr style="background: white;" ></p>
          <p><a target="_blank" href="https://github.com/KotwalNikhil/Tic-Tac-Toe-Project"><button type="button" class="btn btn-success" >TIC TAC TOE </button></a></p>
          <p><a target="_blank" href="https://github.com/KotwalNikhil/scholarship_portal"><button type="button" class="btn btn-success" >Scholarship Portal</button></a></p>
          <p><a target="_blank" href="https://github.com/KotwalNikhil/hangman"><button type="button" class="btn btn-success" >HANGMAN GAME (GUI)</button></a></p>
            <hr class="light">
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <h5>ABOUT ME</h5>
                    <p><hr style="background: white;" ></p>

          <p>I'm a 2nd year B.E student pursuing my Computer engineering from AIT,Pune</p>
          <p>My hometown is in Udhampur,J&K</p>
        </div>
        <div class="col-12 text-center">
                      <hr class="light">
          <p>All rights reserved <strong>&copy;</strong>J&k facts 2019</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!----->

<!---------------------->

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>



