{% extends 'homepage/basic.html' %}


    {% block content %}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">


       <div class="row">

      <div class="col-12">
          <div class ="form-group">
              {% if messages %}
              <ul class="messages">
                {% for i in messages %}
                <li style="list-style-type: none;" class="{{ i.tags }}">
                  <div class="alert {{ i.tags }} alert-dismissible fade show" role="alert">
                    {{i}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
      </div>
       </div>


      </div>
</div>
{% endblock %}