{% extends 'homepage/basic.html' %}



{% block includefiles %}
<style>
    .container-boy{
        border-radius: 5%;
        box-shadow: 0px 5px 30px lightgrey;
    }
</style>

   {% endblock %}


{% block content %}

  <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">


          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-9 bg-white py-5 container-boy">
            <h2 class="text-center">Steps To Apply Scholarship</h2>
            <ol>
                <li>First step is to complete your profile with every detail correct
                because that detail will be used in your scholarship application form</li>
                <li>If there are any scholarship active you will be able to see then on your dashboard else you will see
                no active scholarship</li>
                <li>navigate to the  scholarship you want to apply for, read the instructions and download the
                scholarship application form from their and fill the application form</li>
                <li>after this navigate to apply button</li>
                <li>you will see the online application form there,verify your details weather they are correct or not</li>
                <li>you will see your documents already fetched from your profile, if you wish to change the documents you can just change them in your profile</li>
                <li>if their are any others documents required for that particular scholarship upload them in the other documents 1 and other document 2 space</li>
                <li>also upload the copy of scholarship application form that you downloaded and filled</li>
                <li>after that click on submit and that's it</li>


            </ol>
                            <h3 class="text-center">Keep in mind</h3>


            <ul>
                <li>all the documents other than scholarship application form should in jpg,jpeg or png format</li>
                <li>scholarship application should be in pdf format</li>
                <li>size of documents should be strictly less than 1mb</li>
                <li>If in your profile, portal is showing the path of current document but the document is not visible below then try to clear the previous document by clicking on the clear checkbox and then update profile.
            </ul>


      </div>
    </div>

{% endblock %}