{% extends 'homepage/basic.html' %}
{% load static %}

{% block includefiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Our team</title>
    <style>

      img.img-fluid.member-image{
        width: 200px;
        height: 200px;
      }

      .role{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 30px;
        display: inline-block;
      }
      .card{
        position: relative;
        overflow: hidden;
        background: linear-gradient(white 85%,#2BAED4 15%) ;
        transition: all 0.1s ease-in;
        /*box-shadow:0px 5px 30px grey;*/
      }

      .mentor{
        width: 200px;
        position: absolute;
        top: 0;
        left: -69px;
        display: inline-block;
        background-color: black;
        color: white;
        padding: 5px;
        padding-right: 20px;
        transform: rotate(-45deg);
      }
      .card:hover{
        box-shadow: 0px 5px 30px grey;
      }
        .card-title , .card-subtitle{
            font-size: 1.5rem;
        }
        .header h2{
            font-size: 2.5rem; font-weight: bold;
        }
        .wrapper-boy{
            margin-top: -200px;
        }

    </style>
{% endblock %}

{% block content %}
 <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">


          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
<div class="container wrapper-boy">
      <div class="row header mb-5 justify-content-center">
        <h2>OUR TEAM </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center">
            <div class="card pt-4 text-center" style="width: 18rem;">
              <img class="mx-auto card-img-top rounded-circle img-fluid member-image" src="{% static 'assets/img/ten.jpg' %}" alt="Card image cap" width="200px" height="200px">
              <div class="card-body">
                <h5 class="card-title">Deepak Kumar</h5>
                <h6 class="card-subtitle mb-2 text-muted">Alumini ENTC</h6>
               <p class="role my-4 px-4">TEAM LEADER</p>
               <div class="mentor">
                 Mentor
               </div>
              </div>
            </div>
        </div>
         <div class="col-md-6 col-lg-4 mt-5 mt-md-0 d-flex justify-content-center">
            <div class="card pt-4 text-center" style="width: 18rem;">
              <img class="mx-auto card-img-top rounded-circle img-fluid member-image" src="{% static 'assets/img/ten.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Akash</h5>
                <h6 class="card-subtitle mb-2 text-muted">TE COMP</h6>
               <p class="role my-4 px-4">DEVELOPER</p>
              </div>
            </div>
        </div>
         <div class="col-md-6 col-lg-4 d-flex justify-content-center">
            <div class="card pt-4 text-center mt-5 mt-lg-0" style="width: 18rem;">
              <img class="mx-auto card-img-top rounded-circle img-fluid member-image" src="{% static 'assets/img/nik1.jpg' %}" alt="Card image cap">
                Visit My website <a href="https://engineertrends.com/">Engineer Trends</a>

              <div class="card-body">
                <h5 class="card-title">Nikhil Kotwal
</h5>

                <h6 class="card-subtitle mb-2 textt-mued">TE COMP</h6>
               <p class="role my-4 px-4">DEVELOPER</p>
              </div>
            </div>
        </div>
      </div>
    </div>


{% endblock %}