{% extends 'homepage/basic.html' %}
    <!-- End Navbar -->
    <!-- Header -->
    {% block content %}

<script>
function myFunction(x) {
  document.getElementById(x).style.display = "block";

}
</script>

    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->

      <div class="container-fluid d-flex align-items-center">
        <div class="row">

          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{user.first_name}}</h1>
            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <img class="img-responsive img-rounded" src="{{ user.profile.image.url }}" alt="profile pic" style="height: 200px; width: 200px;">
            
          </div>
          <div class ="form-group">
              {% if messages %}
              <ul class="messages">
                {% for i in messages %}
                <li style="list-style-type: none;" class="{{ i.tags }}">
                  <div class="alert {{ i.tags }} alert-dismissible fade show" role="alert">
                    {{i}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2 mt-5">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="static/assets/img/brand/scholarship.png" class="rounded-circle" alt="sholar">
                  </a>
                </div>
              </div>

            </div>

            <div class="card-header text-center border-0 pt-6 pt-md-6 pb-0 md-6">
              <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-default ">Scholarships applied</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center md-5">
                    <div>
                      <span class="heading">5</span>
                      <span class="description">Applied</span>
                    </div>
                    <div>
                      <span class="heading">2</span>
                      <span class="description">selected</span>
                    </div>
                    <div>
                      <span class="heading">3</span>
                      <span class="description">Rejected</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                  <a href="#" class="list-group-item list-group-item-action list-group-item-info">ud chalo</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">nikhil ki scholarship</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">nhi hai esa kuch</a>
                  <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>


                <hr class="my-4" />
                <p>Scholarship team — If you found anything wrong please contact us.</p>
                <a href="#">contact us</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
                <div class="col-4 text-right">
                  <button onclick="myFunction('demo')" class="btn btn-sm btn-primary">Edit</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!--- udation form-->
             <form id="demo" method="POST" enctype="multipart/form-data" style="display: none;">
          {% csrf_token %}
            <div class="nik" style="color:#D0D3D4;">

          {{ p_form }}
            </div>
          <button><input type="submit" value="update info"></button>
        </form>
        <!--- udation form-->
              <form>
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">REG NO.</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="{{user.username}}" value="{{user.username}}"disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="{{user.email}}" disabled>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="{{user.profile.name}}" value="{{user.profile.name}}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="{{user.last_name}}" value="{{user.last_name}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Academic information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Last year marks(SGPA)</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="{{user.username}}" value="93.6">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Class</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="SE COMP B" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Roll No.</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="{{user.profile.roll_no}}" value="7231" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Attendence</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="{{user.last_name}}" value="75%">
                      </div>
                    </div>
                  </div>
                </div>
                <!---documents--->
                                <hr class="my-4" />

                <h6 class="heading-small text-muted mb-4">Documents Uploaded</h6>

                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" >Last year marksheet</label>
                        {{user.profile.document_last_sem.url}}
                      </div>
                    </div>
                  </div>
                  <div class ="row">
                         <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" >class 12 marksheet</label>
                        {{user.profile.documentt12.url}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" >class 10 marksheet</label>
                        {{user.profile.document10.url}}
                      </div>
                    </div>
                    
                </div>
              </div>
                              <hr class="my-4" />

                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Permanent Address</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="{{user.profile.address}}" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">State</label>
                        <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="eg. Udhampur" value="">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Pin code</label>
                        <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="eg- 182121">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Nikhil</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Scholarship team AIT</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  

  {% endblock %}
  