{% extends 'homepage/basic.html' %}





{% block content %}




<script>
function myFunction(x) {
  var y = document.getElementById(x);
  if(y.style.display == "block")
  {
    y.style.display = "none";
  }
  else
  {
    y.style.display = "block";
  }

}
</script>


 <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
<!-----------messages------>
          <div class ="form-group">
              {% if messages %}
              <ul class="messages">
                {% for i in messages %}
                <li style="list-style-type: none;" class="{{ i.tags }}">
                  <div class="alert {{ i.tags }} alert-dismissible fade show" role="alert">
                    {{i}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          <!-----------messages------>


<div class="container padding text-center" style="margin-top: 60px;margin-bottom: 60px;" >
  <div class="row welcome ">
      <div class="col-12">
        <h2 class="title">{{current_scholarship.title}} </h2>
      </div>
    </div>
</div>
<div class="row   ">
  <div class="col-12 col-xs-6 col-md-6 col-lg-6">
    {% ifequal current_scholarship.img None %}
    <img  class="image" src="pics/default.png" alt="image"   class="rounded"class="float-left" class="pull-left mr-2">

    {% else %}
<img  class="image" src="{{current_scholarship.img.url}}" alt="image"   class="rounded"class="float-left" class="pull-left mr-2">
{% endifequal %}
  </div>
      <div class="col-12 col-xs-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-success btn-md">{{current_scholarship.fromdate}}  <i class="fas fa-cog fa-spin"></i>  {{current_scholarship.toomdate}}</button>

{% if current_scholarship.boy %}
<p class="for">{{current_scholarship.applicants}} applications for boys</p>
{% endif %}

{% if current_scholarship.girl %}
<p class="for">{{current_scholarship.applicants}} applications for girls</p>
{% endif %}

{% if current_scholarship.both %}
<p class="for">{{current_scholarship.applicants}} applications for both boys and girls</p>
{% endif %}

<button type="button" class="btn btn-default">{{current_scholarship.short_description}}</button>
 
<div class="des">
<!-- <p class="date">From-{{current_scholarship.fromdate}}</p>
<p class="date">To-{{current_scholarship.toomdate}}</p> -->
<p class="longdes" >{{current_scholarship.long_description}}</p>
</div>
<h5><a style="color: #FF0000; font-size: 15px;" href="{% url 'show-pdf' current_scholarship.id %}" ><bold>check our brouchere </bold></a></h5>
      </div>
  
</div>
          
        </div>
      </div>
 </div>
 

<section class="graph">
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                  <h2 class="text-white mb-0">Total Scholarships</h2>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                      <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                        <span class="d-none d-md-block">Week</span>
                        <span class="d-md-none">W</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Branch wise application</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
{% if  user.is_superuser %}
<div class="footer text-center">
<div class="row ">
                    <div class="col col-lg-sm-md-6">
                      <a ><button onclick="myFunction('demo')" type="button" class="btn btn-warning">EDIT</button></a>

                    </div>
                    <div class="col col-lg-sm-md-6">
                      <a href="{% url 'delete_scholarship' current_scholarship.id  %}"><button type="button" class="btn btn-danger">Delete This Scholarship</button></a>

                    </div>
</div>
</div>

             <!------->

             <div class="container ">
      <!-- Table -->
      <div class="row justify-content-center font-weight-bold">
        <div class="col-lg-25 col-md-28">
          <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-5 ">

              <form id="demo" method="POST" enctype="multipart/form-data" style="display: none;">
               
                <div class="page-header">
                    <h1>Edit  Scholarship here</h1><br>
                  </div>
              
                <div class="form-group ">
                  
                {% csrf_token %}

                {{p_form.as_p}}
                
                </div>                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
                             <hr class="my-4" />
{% else %}
<div class="footer text-center">
  <a href="{% url 'application_form' current_scholarship.id  %}" ><button type="button"  class="btn btn-primary">Apply here</button></a>
</div>
{% endif %}

 {% endblock %}