{% extends 'homepage/basic.html' %}


    {% block content %}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
<div class ="form-group">
              {% if messages %}
              <ul class="messages">
                {% for i in messages %}
                <li style="list-style-type: none;" class="{{ i.tags }}">
                  <div class="alert {{ i.tags }} alert-dismissible fade show" role="alert">
                    {{i}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>

       <div class="row">
         
      <div class="col-md-6">
        <form action="{% url 'simple_upload' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
         <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
               <strong class="d-inline-block mb-2 text-primary">Upload user data</strong>
                       <input type="file" name="myfile" id="userupload">
                       <br>
               <div class=" " style="color: red;">*conditions</div>
                <ul class="list-group list-group-flush">
    <li class="list-group-item">Column order should not be changed</li>
    <li class="list-group-item">1st column should be empty</li>
        <li class="list-group-item">1st row should be empty</li>
    <li class="list-group-item">2nd column for Reg no</li>
    <li class="list-group-item">3rd  column for student Email</li>
     <li class="list-group-item">4th column for Full Name</li>

  </ul>
        <button input type="submit" value="submit" class="btn btn-primary">Upload</button>
    </form>
            </div>
            
         </div>
      </div>
      <div class="col-md-6">
        <form action="{% url 'simple_upload' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
         <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
               <strong class="d-inline-block mb-2 text-success">Upload Merit data</strong>
                <input type="file" name="myfile2" id="userupload">
                       <br>
               <div  style="color: red;">*conditions <br> make sure these students are already registered </div>
                <ul class="list-group list-group-flush">
    <li class="list-group-item">Column order should not be changed</li>
    <li class="list-group-item">1st column should be empty</li>
            <li class="list-group-item">1st row should be empty</li>

    <li class="list-group-item">2nd column for Reg no</li>
    <li class="list-group-item">3rd column for Marks (Only Integer)</li>
     <li class="list-group-item">4th column for Attendence (Only Integer)</li>

  </ul>
        <button input type="submit" value="submit" class="btn btn-success">Upload</button>
    </form>
         </div>
      </div>
   </div>

</div>
</div>

{% endblock %}